body {
    font-family: 'Amatic SC', cursive;
    background-color: #1e272e;
    color: #d2dae2;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffd32a;
    color: #1e272e;
    padding: 20px 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 56px;
}

h2 {
    margin: 0;
    font-size: 32px;
}

h3 {
    margin: 0;
    font-size: 24px;
    line-height: 2;
}

h4 {
    margin: 0;
    font-size: 20px;    
    line-height: 1.5;
}

p {
    margin: 0 0 10px 0;
    font-size: 20px;
}

img {
    width: 100%;
}

.ettiquette {
    height: 100px;
}

.fermentation {
    height: 375px;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 60vh;
}

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

article h3 {
    margin-bottom: 10px;
}

.sections {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));
    grid-gap: 20px;
}

section {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #d2dae2;
    color: #1e272e;
    border-radius: 5px;
    min-height: 500px;
}

section h2 {
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd32a;
    color: #1e272e;
    padding: 20px;
}

.js-loading {
    display: none;
}

ul {
    list-style: none;
    padding: 10px 20px;
}

ul li {
    text-align: left;
    font-size: 20px;
}

nav {
    margin-top: 20px;
}

nav button i {
    margin-right: 3px;
}

nav button {
    border: 1px solid #1e272e;
    background-color: #d2dae2;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
    padding: 10px;
}

@media (min-width: 620px) {
    nav button {
        width: inherit;
        padding: 5px;
        margin-left: 10px;
    }
    
    nav button:first-child {
        margin-left: 0;
    }
}

main div.hide {
    display: none;
}

.babdge {
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: #ffd32a;
    border: 1px solid #1e272e;
    padding: 5px 10px;
    font-weight: 700;
}

.maxwidth {
    width: 100%;
}

@media (min-width: 768px) {
    .maxwidth {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .maxwidth {
        width: 900px;
    }
}
