.cookieContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cookies {
    background-color: #1e272e;
    color: #ffd32a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    bottom: 10px;
    z-index: 10;
    border-bottom: 1px solid #1e272e;
}

.text {
    display: flex;
    justify-content: center;
}

.icon {
    height: 18px;
    margin-right: 5px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: 768px) {
        flex-direction: row;
     }
}

.button {
    border: 1px solid #1e272e;
    background-color: #d2dae2;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    color: #1e272e;
    margin-bottom: 10px;
    width: 100%;

    @media (min-width: 768px) {
       margin-bottom: 0;
    }
}

.button:first-child {
    margin-right: 10px;;
}

.optOut {
    text-align: right;
}

.link {
    background: none;
    border: none;
    color: #d2dae2;
    cursor: pointer;
}